@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');


:root {
    --green: green;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0.1);

}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
}

/* Home  Page CSS */

section {
    padding: 2rem 9%;
}

.home {
    border: 0px solid;
    display: flex;
    justify-content: center;
    background: url(../image/banner-img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 25rem;
    padding-bottom: 10rem;
}

.home .content {
    border: 0px solid;
    text-align: center;
    width: 60rem;
}

.home .content h3 {
    color: var(--black);
    font-size: 3rem;
}

.home .content h3 span {
    color: var(--green);
}

.home .content p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;

}

/* Home  Page CSS  End*/


/* Our feature section start */

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span {
    background: var(--green);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.features .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box {
    border: 0px solid red;
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);

}

.features .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.features .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8rem;
    color: var(--black);

}

.features .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding-bottom: 1rem 0;
    padding-top: 1rem;

}

/* Our feature section End */


/* About Section Start */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.hero-content {
    flex: 1;
    width: 600px;
    margin: 0px 25px;
}

.hero-content h2 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}

.hero-content p {
    margin-bottom: 40px;
    color: var(--black);
    font-size: 2rem;
    line-height: 1.8;

}

.hero-image {
    flex: 1;
    width: 600px;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/* About Section End */



/* Our products section Start */

.products .product-slider {
    border: 0px solid;
    padding: 1rem;
}

.products .product-slider:first-child {
    margin-bottom: 2rem;
}

.products .product-slider .box {
    border: 0px solid red;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.products .product-slider .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);
}

.products .product-slider .box img {
    height: 20rem;
}

.products .product-slider .box h1 {
    font-size: 2.5rem;
    color: var(--light-color);
}

.products .product-slider .box .price {
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.products .product-slider .box .stars {
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;
}

/* Our products section End */



/* Categories section Star  */

.categories .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box {
    padding: 3rem 0;
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);
}

.categories .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.categories .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}

.categories .box-container .box p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

/* Categories section End  */


/* Review section Start  */

.review .review-slider {
    border: 0px solid;
    padding: 1rem;
}

.review .review-slider .box {
    border: 0px solid red;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;

}

.review .review-slider .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);
}

.review .review-slider .box img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .review-slider .box p {
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3 {
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}

.review .review-slider .box .starts i {
    color: orange;
    font-size: 1.7rem;
}

/* Review section End  */


/* Blogs section Start  */

.blogs .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
}

.blogs .box-container img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box .content {

    padding: 2rem;
}

.blogs .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a {
    color: var(--light-color);
    font-size: 1.5rem;

}

.blogs .box-container .box .content .icons a:hover {
    color: var(--black);
}

.blogs .box-container .box .content .icons a i {
    color: green;
    padding-right: .5rem;
}

.blogs .box-container .box .content h3 {
    line-height: 1.8;
    color: var(--black);
    font-size: 1.5rem;
    padding: .5rem 0;
}

.blogs .box-container .box .content p {
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
}

/* Blogs section End  */

/* Contact section start */

.about h1 {
    text-align: center;
}

.container {
    max-width: 700px;
    margin-top: 0 auto;

}

.contact-form .main {
    position: relative;
    display: flex;
    margin: 30px 0;
}

.content {
    flex-basis: 50%;
    padding: 3em 3em;
    background-color: #fff;
    box-shadow: 2px 9px 49px -17px rgb(0, 0, 0, 0.1);
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-img {
    flex-basis: 50%;
    background-color: #f0f4f8;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}

.form-img img {
    max-width: 100%;

}

.btn,
button,
input {
    border-radius: 35px;
}

.btn:hover,
button:hover {
    color: rgba(55, 3, 31, 0.896);
    transition: 0.5s ease;
}

.contact-form form {
    margin: 30px 0;
}

.contact-form input,
textarea {
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline block;
    box-sizing: border-box;
    border: none;
    background-color: #fcfcfc;
    transition: 0.3s ease;
}

.contact-form input :focus {
    background-color: whitesmoke;
    border: 1px solid #69275c;
}

.contact-form button {
    font-size: 18px;
    color: #fff;
    width: 100%;
    background-color: #69275c;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
}

/* Contact section End */



/* Footer Section Start */
.footer {
    background: #fff;
}

.footer .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i {
    color: var(--green);
}

.footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i {
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i {
    padding-right: 2rem;
}

.footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    border: 0px solid;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: var(--green);
    color: #fff;
}

.footer .box-container .box .email {
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img {
    margin-top: 2rem;
    height: 3rem;
}

/* Footer Section End */




.btn {
    border: .2px solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
}

.btn:hover {
    background: var(--green);
    color: white;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i {
    color: var(--green);
}

.header .navbar {
    font-size: 2rem;
    margin: 0 4rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--green);
}

.header .icons div {
    border: 0px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;
}

.header .icons div:hover {
    background: var(--green);
    color: white;
}

#menu-btn {
    display: none;
}

.header .search-form {
    border: 1px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 4.5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);

}

.header .search-form.active {
    right: 2em;
    transition: .4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--green);
}

.header .shopping-cart {
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;
}

.header .shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box {
    border: 0px solid blue;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img {
    height: 10rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50);
}

.header .shopping-cart .box .fa-trash:hover {
    color: var(--green);
}

.header .shopping-cart .box .content h3 {
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;

}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.4rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem 0;
}



/* Order Now  */


CSS .gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
}

#progressbar-1 {
    color: #455A64;
}

#progressbar-1 li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar-1 #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    margin-left: 22px;
    padding-left: 11px;
}

#progressbar-1 #step2:before {
    content: "2";
    color: #fff;
    width: 29px;
}

#progressbar-1 #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
    margin-right: 22px;
    text-align: center;
}

#progressbar-1 li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455A64;
    border-radius: 50%;
    margin: auto;
}

#progressbar-1 li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
}

#progressbar-1 li:nth-child(2):after {
    left: 50%
}

#progressbar-1 li:nth-child(1):after {
    left: 25%;
    width: 121%
}

#progressbar-1 li:nth-child(3):after {
    left: 25%;
    width: 50%;
}

#progressbar-1 li.active:before,
#progressbar-1 li.active:after {
    background: #1266f1;
}

.card-stepper {
    z-index: 0
}

/* NEW CSS ADDED FROM HERE */

/* Read More Section */
.read {
    text-align: center;
    text-wrap: wrap;
    margin: 20px;
}

.readmore-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.readmore-images {
    width: 300px;
    height: 300px;
    display: inline-block;
}

/* Navbar Section */
#cart-btn {
    margin-right: 10px;
}

.product-counter {
    position: absolute;
    top: 2vh;
    right: 13vw;
}

@media screen and (max-width: 768px) {
    .product-counter {
        position: static;
        right: auto;
    }
}

/* Shopping cart Section */

.fa-trash{
    margin-left: 6px;
}